<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
        {% for post in site.posts %}

            {{post.title}};{{post.date}},
        
        {%endfor%}
    </main>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        Prism.highlightAll();
    });
  </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQF6J2VEBH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-HQF6J2VEBH');
    </script>
  
</html>
